<div>
  <div class="col-xs-12 col-sm-9 col-sm-push-3" id="div_main" style="margin-top:50px;">
    <p id="pathway_description" style="width:1100px;">
    
    </p>
    <div id="legend" style="margin-bottom:10px;">
    </div>
    <div id="gateing" style="display:none;">

      <input type="checkbox" name="my-checkbox" checked style="display:none;" data-on-text="<i class='glyphicon glyphicon-plus-sign'></i>" data-off-text="<i class='glyphicon glyphicon-hand-up'></i>">

      <button class="btn btn-primary" type="button" id = "start_btn">
        Start Node <span class="badge">Nothing!</span>
      </button>
      <button class="btn btn-primary label-warning" type="button" id = "end_btn">
        End Node <span class="badge">Nothing!</span>
      </button>
      <button type="button" class="btn btn-success" id = "clear_btn">Clear</button>
    </div>
    <div id="result" style="width:1100px;height:550px;">
    </div>
  </div>
  <div class="col-xs-12 col-sm-3 row-xs-12 col-sm-pull-9" style="margin-top:50px;">
    <h1 class="break-word" id="pathway_name">
    
    </h1> 
    <div id="result1">
    </div>
  
    <ul class="list-group" id="filter_result">

    </ul>
  </div>
</div>
