<table style="width:100%;">
  <thead id="tablehead" class="headingstyle">
    <tr>
      <th style="width: 100%;">Results</th>
    </tr>
  </thead>
  <tbody>
  
  </tbody>
</table>
<div>
  <div class="col-xs-12 col-sm-9 col-sm-push-3" id="div_main" style="margin-top:50px;">
    <p id="pathway_description" style="width:1100px;">
    
    </p>
    <div id="legend" style="margin-bottom:10px;">
    </div>
    <div id="result">
    </div>
  </div>
  <div class="col-xs-12 col-sm-3 row-xs-12 col-sm-pull-9" style="position:fixed;margin-top:50px;">
    <h1 class="break-word" id="pathway_name">
    
    </h1> 
    <div id="result1">
    </div>
  
    <ul class="list-group" id="filter_result">

    </ul>
  </div>
</div>